:host{
    min-height: 100vh; 
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background-image: url('/images/WhatsApp Image 2025-03-17 at 02.10.05_f6108513.jpg');
     background-position: bottom;
    background-size: cover;
 }